<div class="row d-flex justify-content-center align-items-center mb-4">
    <div class="col-lg-3">
      <div class="card bg-dark text-white mt-3 ms-3" style="width: 18rem;height: 353px;">
        <img src="assets/images/unhealthy.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Unhealthy Hair</h5>
          <p class="card-text text-white">Pavithra Hair Oil nourishes and revitalizes unhealthy hair, reducing dryness, breakage, and promoting growth.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card bg-dark text-white mt-3  ms-3" style="width: 18rem;height: 353px;">
        <img src="assets/images/dandruff.avif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Dandruff</h5>
          <p class="card-text text-white">Pavithra Hair Oil treats dandruff by soothing the scalp, reducing flakiness, and restoring moisture.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card bg-dark text-white mt-3  ms-3" style="width: 18rem;height: 353px;">
        <img src="assets/images/hairfall.webp"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Hair Fall</h5>
          <p class="card-text text-white">Pavithra Hair Oil strengthens roots, nourishes the scalp, and reduces hair fall, promoting healthy growth.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card bg-dark text-white mt-3  ms-3" style="width: 18rem;height: 353px;">
        <img style="height: 200px;" src="assets/images/break.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">Breakage</h5>
          <p class="card-text text-white">Pavithra Hair Oil strengthens hair, reducing breakage and promoting healthier, more resilient strands.</p>
        </div>
      </div>
    </div>
  </div>