.card {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(18, 203, 58, 0.4);
    background-color: #0e0d0d;
  }
  

  
  .card-body {
    padding: 20px;
  }

  
  
  .card-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    color: #666;
  }