<div style="height: 100vh;" class="container-fluid full-height">
    <a class="btn btn-custom mt-3" href=""><i class="fa-solid fa-bars me-2"></i>Home</a>    <div class="row full-height d-flex justify-content-center align-items-center">
      <div style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" class="col-md-8 col-lg-6 col-11 card custom-card shadow">
        <h5 class="text-uppercase font-weight-bold mb-3 mt-4 text-center title">
          The History of Pavithra
        </h5>
        <div class="container object-fit-contain">
          <p class="p-4 description text-center">
            Pavithra Hair Oil is a traditional Ayurvedic remedy created in Paduva, Kottayam. Crafted with care, this homemade oil addresses common hair problems like hair fall, dandruff, and other scalp issues. The oil's formulation is rooted in ancient Ayurvedic principles, utilizing natural herbs and ingredients known for their healing properties. Over the years, it has gained popularity for its effectiveness in nourishing the scalp and promoting healthy hair growth. Pavithra Hair Oil stands as a testament to the rich cultural heritage and time-tested practices of Ayurveda, offering a natural solution to hair care.
          </p>
        </div>
      </div>
    </div>
  </div>
  