<div class="" style="height: auto;">
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(66, 76, 76);">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="#">
          <p class="ms-4 mt-2 logo" style="font-weight: bold; font-size: 24px; color: #097e16;">PAVITHRA<i class="fa-brands fa-pied-piper ms-2"></i></p>
          <p class="ms-3" style="font-weight: 50; color: white; font-size: 7pt; background-color: rgb(66, 76, 76);">For healthy hair & Healthy future</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-5">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a  href="https://api.whatsapp.com/send?phone=+91(9961522664)&text=ഈ +എണ്ണ + ലഭ്യമാണോ?" target="_blank" class="nav-link text-white">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="tel:+919744995212">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/about">About US</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="d-flex flex-column justify-content-center align-items-center container mt-2">
      <div class="row d-flex justify-content-around align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 container">
          <div class="mb-5" style="width: 100%; height: 250px; border-radius: 10px;">
            <app-caurosel></app-caurosel>
          </div>
        </div>
        <div class="m-2 d-flex justify-content-center align-items-center"><a href="https://api.whatsapp.com/send?phone=+91(9961522664)&text=ഈ +എണ്ണ + ലഭ്യമാണോ?" target="_blank" class="order-now-btn text-center shadow text-decoration-none">Order Now</a></div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h6 class="text-uppercase font-weight-bold mb-3 mt-4 ms-3" style="color: #097e16;">The Essence of Pavithra Hair Oil</h6>
          <p class="text-justify object-fit-cover" style="font-size: 18px; line-height: 1.5; color: #333; text-align: justify;">
            <strong>Pavithra Hair Oil </strong>is an Ayurvedic blend of carefully selected herbs and oils, each chosen for its potent hair-nourishing properties. Rooted in the ancient science of Ayurveda, this homemade concoction aims to address various hair concerns while promoting overall scalp health. The ingredients used in Pavithra Hair Oil are all-natural, ensuring that your hair receives the best care without the harsh chemicals commonly found in commercial products.
          </p>
          
        </div>
      </div>
      <div>
          <app-cards></app-cards>
      </div>
    </div>
  </div>
  <app-footer></app-footer>